<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--custom app settings - add key below-->
  <appSettings>
    <add key="minNGramWords" value="3"/>
    <add key="maxNGramWords" value="6"/>
    <add key="something" value="somethingelse"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>